/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.head-container {
    display: flex;
    background-color: black;
    width: 1321px;
    align-items: center;
    padding-top: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.head-text {
    width: 70%;
    color: white;
    margin-left: 100px;
}

.head-text h1 {
    font-size: 2em;
    font-weight: 700;
}

.head-text p {
    font-size: 15px;
    margin-bottom: 30px;
}

.head-text a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #DD0000;
    margin-top: 20px;
    font-weight: 700;
    border-radius: 5px;
}

.head-image {
    width: 60%;
    margin-bottom: -4px;
}

.head-image img {
    width: 80%;
    height: 100%;
}

/* main area */

/* side bar  */
main {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.side-manu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    background-color: black;
    margin-top: 20px;
    border-radius: 15px;
}

.side-manu a {
    text-decoration: none;
    background-color: white;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
    border-radius: 10px;

}

.side-manu a:hover {
    background-color: limegreen;
}

.manu-1 a {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #DD0000;
    color: white;
}

.manu-2 a {
    padding-left: 55px;
    padding-right: 55px;
}

.manu-3 a {
    padding-left: 75px;
    padding-right: 75px;

}

.main-container {
    display: flex;
    width: 1321px;
    margin-left: 20px;

}

/* Blog  */

.blog {
    margin-left: 115px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.blog-info {
    margin-bottom: 10px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin-right: 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-d {
    margin-left: 5px;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.match-info {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
}

/* footer area */
footer {
    height: 250px;
    background-color: black;
    color: white;
    padding-top: 50px;
    text-align: center;
}

footer h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

footer a {
    text-decoration: none;
    margin-left: 20px;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    padding-top: 30px;
}

.social-media {
    margin-top: 20px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
}

/* animation */

.head-container:hover .link-button {
    animation: shake 3s linear infinite;
    animation-play-state: running;

}

.head-container .link-button:hover {
    animation-play-state: paused;
}

/* Keyframes */
@keyframes shake {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

/* Responsive area */

/* For mobile */
@media only screen and (max-width:688px) {


    .head-container {
        flex-direction: column;
        width: 90%;

    }

    .head-text {
        margin-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .head-text h1 {
        font-size: 30px;
    }

    .head-text p {
        font-size: 10px;
    }

    .head-image {
        width: 60%;
        margin-bottom: 0;
    }

    .head-image img {
        width: 100%;
        height: 100%;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }

    main {
        flex-direction: column;
    }

    .side-manu {
        background-color: white;
        width: 90%;
    }

    .side-manu a {
        border: 1px solid rgba(232, 232, 232, 1)
    }


    .blog {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 2px;
    }

    footer {
        height: 100%;
    }

    footer a {
        display: flex;
        flex-direction: column;

    }

    .social-media {
        padding-bottom: 30px;
    }



}

/* for tablet */
@media only screen and (min-width: 689px) and (max-width:1023px) {
    .head-container {
        width: 90%;

    }

    .head-text {
        width: 60%;
        margin-left: 50px;
    }

    .head-text h1 {
        font-weight: 700;
        font-size: 34px;
    }

    .head-text p {
        font-size: 10px;
    }

    .head-image {
        width: 90%;
    }

    .head-image img {
        width: 90%;
        height: 100%;
    }

    .main-container {
        flex-direction: column;
        width: 90%;
    }

    .side-manu {
        width: 90%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
        margin-bottom: 30px;
        justify-items: center;
    }

    .side-manu a {
        border: 1px solid rgba(232, 232, 232, 1)
    }

    .blog {
        margin-left: 0;
        grid-template-columns: repeat(2, 1fr);
    }


    footer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-link {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-media {
        padding-bottom: 30px;
    }
}